.jumbotron {
  background: linear-gradient(to bottom, #eee, #aaa);
  text-transform: uppercase;
  color: #197fcd !important;
}

h1, p {
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.right {
  float: right;
}

.right label {
  margin-right: 10px;
}

.right i {
  cursor: pointer;
}

twitterwidget {
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  background-color: #1DA1F2 !important;
  border-color: #1DA1F2 !important;
}

.btn-group {
  width: 100%;
}

label:first-child {
  margin-left: auto !important;
}

label:last-child {
  margin-right: auto !important;
}

.tweet-enter {
  opacity: 0.01;
}

.tweet-enter.tweet-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tweet-leave {
  opacity: 1;
}

.tweet-leave.tweet-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.tweet-appear {
  opacity: 0.01;
}

.tweet-appear.tweet-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}